<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college recommended system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="cities.js"></script>
</head>
<body>
    <section class="gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Please fill accurate details!</h3>
                  <form>
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" for="fullName">Full Name</label>
                          <input type="text" id="fullName" class="form-control form-control-lg" name="Full_name" required/>
                          <label for="fullName" class="form-label label">The first letter of the name must be capitalized</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" for="email">Email</label>
                          <input type="email" id="email" class="form-control form-control-lg" name="email" required/>
                          <label for="email" class="form-label label">Please enter valid email</label>
                          
                        </div>
      
                      </div>
                    </div>
                    <div class="row hqq">
                      <div class="col-md-6 mb-4">
      
                        <h6 class="mb-2 pb-1">Higher Education: </h6>
      
                        <div class="form-check form-check-inline">
                          <label><input type="radio" name="option" id="yes" onclick="toggleInput()"> Diploma</label>
                          <label><input type="radio" name="option" id="no" onclick="toggleInput()"> 12th</label>
                        </div>
                      </div>

                    </div>
                    <div class="row " id="higher_12">
                        <div class="col-md-6 mb-4 display">
        
                            <label class="form-label select-label" for="branch">12th Branch</label>
                          <select class="select form-control-lg" id="branch">
                            <option value="1">PCM</option>
                            <option value="2">PCB</option>
                            <option value="3">Commerce</option>
                            <option value="4">Arts</option>
                          </select>
                          <label for="branch" class="form-label label">Please choose branch</label>
                        </div>
                    <br>
                      
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                            <label class="form-label" for="12th_marks">12th Marks</label>
                          <input type="number" id="12th_marks" class="form-control form-control-lg" name="12th_marks" required/>
                          <label for="12th_marks" class="form-label label">Please enter marks</label>
                       
                        </div>
      
                      </div>
                    </div>
                    <div class="row" id="diploma1">
                        <div class="col-md-6 mb-4 display">
        
                            <label class="form-label select-label" for="branch">Diploma Branch</label>
                          <select class="select form-control-lg" id="branch">
                            <option value="1">Management</option>
                            <option value="2">Medical</option>
                            <option value="3">Engineering</option>
                            <option value="4">Arts</option>
                          </select>
                          <label for="branch" class="form-label label">Please choose branch</label>
                        </div>
                    <br>
                      
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                            <label class="form-label" for="diploma">Diploma Marks</label>
                          <input type="number" id="diploma" class="form-control form-control-lg" name="diploma" required/>
                          <label for="diploma" class="form-label label">Please enter marks</label>
                       
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                        
                          <label class="form-label" for="jee_rank">JEE Rank</label>
                          <input type="number" id="jee_rank" class="form-control form-control-lg" name="jee_rank" required/>
                          <label for="jee_rank" class="form-label label">Please enter rank in numbers</label>
                          

                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                            <label class="form-label" for="annual_income">Annual Income</label>
                          <input type="number" id="annual_income" class="form-control form-control-lg" name="annual_income" required/>
                          <label for="annual_income" class="form-label label">Please enter income in rupees</label>
                       
                        </div>
      
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <label class="form-label" for="state">State</label>
                          <select onchange="print_city('city', this.selectedIndex);" id="state" name ="state" class="form-control" required></select>
                          <label class="form-label label" for="state">Please select state</label>
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                          <label class="form-label" for="city">City</label>
                          <select id ="city" class="form-control" name="city" required></select>
                          <script language="javascript">print_state("state");</script>
                          <label class="form-label label" for="city">First select state</label>
                        </div>
      
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-12">
      
                        <label class="form-label select-label">Choose Interest</label> <br/>
                        <input type="checkbox"><label>Technology</label>
                        <input type="checkbox"><label>Robotics</label>
                        <input type="checkbox"><label>Nature</label><br/>
                        <input type="checkbox"><label>AI</label>
                      </div>
                    </div>
                    
                    <br>

                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                    </div>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
        function toggleInput() {
            var yesRadio = document.getElementById('yes');
            var noRadio = document.getElementById('no');
            var higher_123 = document.getElementById('higher_12');
            var higher_diploma= document.getElementById('diploma1');

            if (yesRadio.checked) {
                higher_123.style.display = 'none';
                higher_diploma.style.display = 'flex';
            } else {
                higher_123.style.display = 'flex';
                higher_diploma.style.display = 'none';
            }
        }
      </script>
</body>
</html>