<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/loading.css">
  <title>Document</title>
</head>
<body>
  <div class="pencil">
    <div class="pencil-ball-point"></div>
    <div class="pencil-cap"></div>
    <div class="pencil-cap-base"></div>
    <div class="pencil-middle"></div>
    <div class="pencil-eraser"></div>
  </div>
  <div class="line"></div>
  <h2>Page Loading...Please Wait</h2>
</body>
</html>