.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.label{
    font-family: "Roboto Slab";
    font-size: 13px;
}
.pt-2{
    text-align: center;
}


.display{
    display: grid;
    grid-template-rows: .3fr 1fr;
}
.select{
    height: 50px;
    font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hello{
    display: none;
}
.hello1{
    display: none;
}